            <footer>
              <p>Copyright © 2015-2017 SIG-SLUD All Rights Reserved.</p>
            </footer>
          </div> <!-- content-wrapper -->
        </div> <!-- content -->
    
        <!-- Java script -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/js/modal.js"></script>
        <script src="{{ site.baseurl }}/js/nav.js"></script>
        <script src="{{ site.baseurl }}/js/box-height.js"></script>
        <!--[if lte IE 9]>
          <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
          <script src="{{ site.baseurl }}/js/ie9-transition.js"></script>
        <![endif]-->

    </body>
</html>
