    {% include head.html %}
          <section id="about">
            <div class="main">
             <div class="box">
               <div class="box-header box-header-color-blue">
                 <span>SLUD について</span>
               </div>
               <div class="box-content">
                 <p>
                 人工知能学会 言語・音声理解と対話処理研究会（SLUD）は，1992年に創設されました．研究会では，言語・音声・対話に関する基礎研究から，音声処理・言語処理・対話処理に関するアルゴリズムやシステムの研究まで，多岐に渡る話題を扱っています．
                 </p>
                 <p>
                 具体的な活動としては，研究会の開催（年3回）を基本として，時代に即応したワーキンググループの設立やシンポジウムの開催を行なっています. 対話データへの注釈付けに関するワーキンググループ，対話システムシンポジウム，医療・介護・法と対話といった，社会における対話研究のシンポジウムの開催などがその例です．
                 </p>
                 <p>
                 本研究会の特徴は，言語・音声・対話という研究対象を反映した多様性です．情報（科）学だけでなく，言語学・心理学・社会学（会話分析）など， さまざまな分野が関係し，文理を問わず多彩な研究者が参加しています．
                 </p>
                 <p>
                 言語・音声・対話に関して，研究者が研究成果を発表し，活発に議論を行うなど研究者が集う場をつくることにより，学術的な貢献は言うまでもなく，実践的・社会的な貢献につながる活動を行なっていきたいと考えています．
                 </p>
                 
               </div>
             </div>
            </div>
            <div id="field">

            {{ content }}
              <div class="box">
                <div class="box-header box-header-color-blue">
                  <span>主要な研究分野</span>
                </div>
                <div class="box-content">
                  <ul>
                    <li>対話モデル</li>
                    <li>対話による概念理解と形成</li>
                    <li>対話のためのプランニング</li>
                    <li>自然言語理解</li>
                    <li>自然言語処理</li>
                    <li>音声処理</li>
                    <li>音声言語処理</li>
                    <li>計算言語学</li>
                    <li>統計的言語モデル</li>
                    <li>コミュニケーション・モデル</li>
                    <li>マルチモーダル・インタラクション</li>
                    <li>マルチメディア・インタフェース技術</li>
                    <li>インタラクティブ・システム</li>
                    <li>ユーザ・モデリング</li>
                    <li>意図理解</li>
                    <li>心理モデル</li>
                    <li>社会言語学</li>
                  </ul>
                </div>
              </div>
            </div>


            <!--
            <div id="award" class="award">
              <div class="box">
                <div class="box-header box-header-color-blue">
                  <span>受賞者一覧</span>
                </div>
                <div class="box-content">
                </div>
              </div>
            </div>
            -->
        </section>
        {% include foot.html %}
